<div class="content">
  <div
    *ngIf="view === 'intro'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      As you enter, you can hear the sounds of steel clashing on steel. While
      you can't see it, you recognise the noise of active combat. A young woman
      clad in golden armour walks up to you.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>Who are you?</p>
    </div>
    <p>
      You explain to her that you are a visitor, having come to Avalon to learn
      more about Naomi.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>
        This is a good place to be, then. Naomi might be fighting, or you can
        see her hall of fame. Or did you want to enter a fight yourself?
      </p>
    </div>
  </div>
  <div
    *ngIf="view === 'hof'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      You ask about the Hall of Fame, and the arena master takes you there. In
      front of you is a large stone wall with a bunch of text etched into it.
    </p>
    <p>
      Looking closer, you can see it is a list of Naomi's most famous fights.
    </p>
    <div
      *ngFor="let fight of fights"
      class="nes-container with-title is-centered is-rounded is-dark fight"
    >
      <h2 class="title">{{ fight.name }}</h2>
      <p>{{ fight.description }}</p>
      <a
        *ngIf="fight.liveUrl"
        href="{{ fight.liveUrl }}"
        class="nes-btn fight-btn"
        target="_blank"
        rel="noopener noreferrer"
        >View Project</a
      >
      <a
        *ngIf="fight.codeUrl"
        href="{{ fight.codeUrl }}"
        class="nes-btn fight-btn"
        target="_blank"
        rel="noopener noreferrer"
        >View Code</a
      >
    </div>
  </div>
  <div
    *ngIf="view === 'watch'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      The arena master checks the current schedule of matches, and shows you the
      current fight.
    </p>
    <img
      height="259"
      src="https://rpc.nhcarrigan.com"
      alt="Naomi's current activity."
    />
    <p *ngIf="!activities.length">
      She then explains that there haven't been any recent fights to show you.
    </p>
    <p *ngIf="activities.length">
      She also hands you a list of the recent fights.
    </p>
    <div
      *ngFor="let activity of activities"
      class="nes-container with-title is-centered is-dark is-rounded"
    >
      <h2 class="title">{{ activity.title }}</h2>
      <p>{{ activity.description }}</p>
      <p>Match Occurred: {{ activity.date }}</p>
    </div>
    <p>Finally, she asks if there was anything else you needed.</p>
  </div>
  <div
    *ngIf="view === 'fight'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      You ask the arena master if there is a way for you to participate in the
      fighting too.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>
        Now that's what I like to hear! We are always happy to welcome new
        fighters to the arena. Here's a list of fights you can sign up for.
      </p>
    </div>
    <p>She hands you a scroll containing a list of open fights.</p>
  </div>
  <a
    *ngIf="view === 'fight'"
    class="nes-btn"
    href="https://contribute.nhcarrigan.com"
    target="_blank"
    >Read the Scroll</a
  >
  <button *ngIf="view === 'watch'" class="nes-btn" (click)="bustCache()">Reload History</button>
  <button *ngIf="view !== 'hof'" class="nes-btn" (click)="changeView('hof')">
    See the Hall of Fame
  </button>
  <button
    *ngIf="view !== 'watch'"
    class="nes-btn"
    (click)="changeView('watch')"
  >
    Watch Naomi fight
  </button>
  <button
    *ngIf="view !== 'fight'"
    class="nes-btn"
    (click)="changeView('fight')"
  >
    Inquire about fighting
  </button>
  <a class="nes-btn" routerLink="/plaza">Change your mind and leave</a>
</div>
