<div class="content">
  <div
    *ngIf="view === 'intro'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      As you enter, you can hear the sounds of steel clashing on steel. While
      you can't see it, you recognise the noise of active combat. A young woman
      clad in golden armour walks up to you.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>Who are you?</p>
    </div>
    <p>
      You explain to her that you are a visitor, having come to Avalon to learn
      more about Naomi.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>
        This is a good place to be, then. Naomi is currently not fighting, but
        you can see her hall of fame. Or did you want to enter a fight yourself?
      </p>
    </div>
  </div>
  <div
    *ngIf="view === 'hof'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      You ask about the Hall of Fame, and the arena master takes you there. In
      front of you is a large stone wall with a bunch of text etched into it.
    </p>
    <p>
      Looking closer, you can see it is a list of Naomi's most famous fights.
    </p>
    <div
      *ngFor="let fight of fights"
      class="nes-container with-title is-centered is-rounded is-dark fight"
    >
      <h2 class="title">{{ fight.name }}</h2>
      <p>{{ fight.description }}</p>
      <a
        *ngIf="fight.liveUrl"
        href="{{ fight.liveUrl }}"
        class="nes-btn fight-btn"
        target="_blank"
        rel="noopener noreferrer"
        >View Project</a
      >
      <a
        *ngIf="fight.codeUrl"
        href="{{ fight.codeUrl }}"
        class="nes-btn fight-btn"
        target="_blank"
        rel="noopener noreferrer"
        >View Code</a
      >
    </div>
  </div>
  <div
    *ngIf="view === 'watch'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      Despite the arena master explaining that there are no fights going on, you
      choose to ask if you can watch a fight. She looks annoyed, but before she
      can speak another voice calls out to you.
    </p>
    <p>
      You turn to see who is speaking, only to realise that Naomi herself is
      walking toward you.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/naomi.png"
        class="face"
        alt="arena master's face"
      />
      <p>
        Welcome to Avalon! I am very sorry, but while I am almost always
        fighting bugs, our arena is under maintenance. At some point you will be
        able to come here and see me fight in real time, but unfortunately today
        is not the day.
      </p>
    </div>
    <p>
      She politely thanks you for coming before heading out, leaving you and the
      arena master both stunned. After collecting herself, the arena master
      turns to ask if you needed anything else.
    </p>
  </div>
  <div
    *ngIf="view === 'fight'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Arena</h1>
    <p>
      You ask the arena master if there is a way for you to participate in the
      fighting too.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/arena-master.png"
        class="face"
        alt="arena master's face"
      />
      <p>
        Now that's what I like to hear! We are always happy to welcome new
        fighters to the arena. Here's a list of fights you can sign up for.
      </p>
    </div>
    <p>She hands you a scroll containing a list of open fights.</p>
  </div>
  <a
    *ngIf="view === 'fight'"
    class="nes-btn"
    href="https://contribute.nhcarrigan.com"
    target="_blank"
    >Read the Scroll</a
  >
  <button *ngIf="view !== 'hof'" class="nes-btn" (click)="changeView('hof')">
    See the Hall of Fame
  </button>
  <button
    *ngIf="view !== 'watch'"
    class="nes-btn"
    (click)="changeView('watch')"
  >
    Watch Naomi fight
  </button>
  <button
    *ngIf="view !== 'fight'"
    class="nes-btn"
    (click)="changeView('fight')"
  >
    Inquire about fighting
  </button>
  <a class="nes-btn" routerLink="/plaza">Change your mind and leave</a>
</div>
