<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Castle</h1>
    <p>
      You begin to approach the rather large and ornate castle, wondering if
      Naomi is there. As you walk up to the gate, the guards stop you.
    </p>
    <p>
      They explain that the castle is closed to the public, and that an audience
      with Naomi is available by appointment only. One of the guards reaches
      into her cloak and pulls out a form, offering it to you.
    </p>
    <p>Do you take it?</p>
  </div>
  <a
    class="nes-btn"
    href="https://calendly.com/nhcarrigan"
    target="_blank"
    rel="noopener noreferrer"
    >Request an audience</a
  >
  <a class="nes-btn" routerLink="/plaza">Apologise and walk away</a>
</div>
