<app-toggle-button></app-toggle-button>
<nav id="sidebar" [ngClass]="{ hidden: toggleService.hideSideNav }">
  <h1 class="header-text">Nicholas Carrigan</h1>
  <img class="profile" src="../../assets/img/profile.jpg" />
  <hr />
  <p>MEANR stack developer @</p>
  <p>- freeCodeCamp</p>
  <hr />
  <p><a routerLink="/home">Home</a></p>
  <p><a routerLink="/projects">Projects</a></p>
  <p><a routerLink="/contributions">Contributions</a></p>
  <p><a routerLink="/certifications">Certifications</a></p>
  <p><a routerLink="/connect">Connect</a></p>
  <p><a routerLink="/calendar">Calendar</a></p>
  <p><a routerLink="/contact">Contact</a></p>
  <p>
    <a
      href="http://chat.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >Chat</a
    >
  </p>
  <p>
    <a
      href="http://blog.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >Blog</a
    >
  </p>
  <p><a routerLink="/sponsors">Sponsors</a></p>
  <hr />
  <p>&copy; 2021</p>
  <p>
    <a
      href="https://keybase.io/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-keybase"></i> nhcarrigan
    </a>
  </p>
  <p>
    <a
      id="art-credit"
      href="https://www.instagram.com/moonlightkcreations/"
      target="_blank"
      rel="noopener noreferrer"
      >Art by Moonlight</a
    >
  </p>
</nav>
