<app-toggle-button></app-toggle-button>
<nav id="sidebar" [ngClass]="{ hidden: toggleService.hideSideNav }">
  <h1 class="header-text">Nicholas Carrigan</h1>
  <p class="version-text">Version {{ version }}</p>
  <img
    class="profile"
    src="../../assets/img/profile.png"
    alt="nhcarrigan's profile image"
  />
  <hr />
  <p>Drinkin' coffee, boppin' tunes, bangin' code.</p>
  <app-audio></app-audio>
  <hr />
  <p>
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </p>
  <p><a routerLink="/projects" routerLinkActive="active-link">Projects</a></p>
  <p>
    <a routerLink="/certifications" routerLinkActive="active-link"
      >Certifications</a
    >
  </p>
  <p><a routerLink="/connect" routerLinkActive="active-link">Connect</a></p>
  <p><a routerLink="/contact" routerLinkActive="active-link">Contact</a></p>
  <p>
    <a
      href="http://chat.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >Chat</a
    >
  </p>
  <hr />
  <p>&copy; 2021</p>
  <p>
    <a
      href="https://keybase.io/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-keybase"></i> nhcarrigan
    </a>
  </p>
  <p>
    <a
      id="art-credit"
      href="https://www.instagram.com/moonlightkcreations/"
      target="_blank"
      rel="noopener noreferrer"
      >Art by Moonlight</a
    >
  </p>
  <hr />
  <p>
    <a
      class="custom-btn"
      href="https://github.com/sponsors/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-github"></i> Sponsor on GitHub</a
    >
  </p>
  <p>
    <a
      class="custom-btn"
      href="https://ko-fi.com/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fas fa-coffee"></i> Buy me a Coffee</a
    >
  </p>
  <p>
    <a
      class="custom-btn"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=MA23ALWCRJ3MU&item_name=Support+my+development+projects&currency_code=USD"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-paypal"></i> Make a Donation
    </a>
  </p>
</nav>
