p {
  color: #dfc0fa;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 2vh 0;
  height: 1vh;
}

a {
  color: #dfc0fa;
  transition: all .5s ease-in-out;
  height: 1vh;
}

a:hover {
  color: #3a3240;
  background-color: #dfc0fa;
}
