* {
		font-family:VT323
}
a{
	color: #FFFFFF;
}

main{
	text-align: center;
	background-color: black;
	margin-left: 200px;
	padding: 0px;
}
nav{
  background-color: #000000;
	color: #ffffff;
  height: 100%;
  top: -5px;
  left: -5px;
  padding: 5px;
  text-align: center;
	position: fixed;
	font-size: 18pt;
	width: 200px;
}
<<<<<<< HEAD

#navbar-portrait{
	position: fixed;
  width: 100%;
  text-align: center;
	font-size: 18pt;
  top: 0px;
	left: 0px;
  background-color: #000000;
	color: #ffffff;
}
=======
>>>>>>> parent of 9b773c1... detect screen orientation
#navbar-title{
	font-size: 24pt;
}
.special-link{
	font-size: 20pt;
}
@media (max-width: 500px){
	nav{
		display: none;
	}
}

h1{
	font-size: 48pt;
}

h2{
	font-size: 24pt;
}

p{
	font-size: 18pt;
}
iframe {
	border: 0;
}
#welcome-section{
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),url("background1.jpg");
	background-size: 100% 100%;
	background-color:#ffffff;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	height: 100vh;
}


#projects{
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),url("background2.jpg");
	background-size: 100% 100%;
	background-color:#ffffff;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	height: 100vh;
}

#contact{
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),url("background3.jpg");
	background-size: 100% 100%;
	background-color:#ffffff;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	height: 100vh;
}
#contact-links {
	font-size: 32pt;
}
a:hover {
	color: yellow;
}
#profile{
	height: 200px;
}
