*:not(ul):not(li):not(a):not(p) {
  background-color: black;
}
* {
  font-family: VT323;
}
main {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 48pt;
  margin-bottom: 15vh;
  color: #00ff00;
}
ul {
  max-width: 30vw;
  margin-left: 33vw;
  list-style: none;
  font-size: 18pt;
  outline-style: double;
  outline-color: #00FF00;
  text-align: center;
  background-color: #000000;
}

.cat-link {
  font-size: 24pt;
  margin-bottom: .5em;
}

a {
  color: #00ff00
}

a:hover {
  background-color: #00ff00;
  color: #000000;
}
#footer{
	background-color: #000000;
	color: #00FF00;
	margin: 0px;
	padding: 0px;
	text-align: center;
  font-size: 18pt;
}
