<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Welcome</h1>
    <p>
      It has been a long journey, but you have finally arrived at Avalon, the
      city that Naomi built. Feeling relieved, you reach into your pack and pull
      out a map of the area.
    </p>
    <p>
      Unfortunately, your map isn't very detailed. You aren't quite sure where
      you should head.
    </p>
    <p>
      Thankfully, there appears to be a central area in the middle of the city.
      You can hear some activity coming from that direction. It must be some
      sort of plaza - surely you could get better directions there!
    </p>
  </div>
  <a class="nes-btn" routerLink="/plaza">Follow the map - and the noise</a>
</div>
