<div class="content">
  <h1>About nhcarrigan</h1>
  <p>Here you can read about my story and background.</p>
  <h2>Professional Journey</h2>
  <p>
    In April of 2020, I left my job as a grocery retail manager due to
    circumstances related to the pandemic.
  </p>
  <p>
    After about two weeks of lounging around, I found the boredom to be a bit
    much, and began looking for a hobby. I did a quick Google search and came
    across
    <a
      href="https://www.freecodecamp.org"
      target="_blank"
      rel="noopener noreferrer"
      >freeCodeCamp</a
    >.
  </p>
  <p>
    There I began my studies, learning HTML, CSS, and JavaScript. I continued on
    with learning a bit of React, jQuery, and other front end libraries before
    moving on to NodeJS with express and MongoDB.
  </p>
  <p>
    After completing what was, at the time, the entirety of the freeCodeCamp
    curriculum, I sought to further expand my studies.
  </p>
  <p>
    I dove in to TypeScript, working on a project with a fellow developer I met
    through the freeCodeCamp community. Then I branched out and explored Angular
    (the new version, not AngularJS 😉), which is what powers this page!
  </p>
  <p>
    I discovered a passion for building Discord Bots (my largest project to date
    is a Discord bot), and have continued to progress my learning since.
  </p>
  <h2>Personal Information</h2>
  <p>Outside of my development circle, I pursue a few hobbies.</p>
  <p>
    I am an avid gamer, mostly playing RPG games on the PC. When gaming, I
    usually play as my old character
    <a
      href="https://www.beccalyria.com"
      target="_blank"
      rel="noopener noreferrer"
      >Becca Lyria</a
    >.
  </p>
  <p>
    Becca is also the character I use when I play Dungeons and Dragons, another
    hobby of mine. Trading card games are also something I enjoy, with my
    favourite being Magic: The Gathering.
  </p>
  <p>
    Finally, with what little time I have left, I enjoy reading a good book.
  </p>
</div>
