<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Lost</h1>
    <p>
      You find yourself on an unfamiliar street, completely disoriented. It's
      okay! Avalon is a big city, and quite easy to get lost in.
    </p>
    <p>
      Thankfully, you can faintly hear the sound of the activities in the plaza.
      If you're careful, you might be able to get back by following the noise.
    </p>
  </div>
  <a class="nes-btn" routerLink="/plaza">Make your way to the plaza</a>
</div>
