<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Nicholas' certifications - come see what I have learned!"
    />
    <title>Nicholas Carrigan - Certifications</title>
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="../public/certs.css" />
  </head>
  <body>
    <main>
      <h1>Certifications</h1>
      <p>These are the various certifications I have earned.</p>
      <h2>
        <a href="https://freecodecamp.org">Free Code Camp Certificates</a>
      </h2>
      <p>
        <a href="../files/Quality%20Assurance.png"
          >Quality Assurance (V7) - Earned 3 July 2020</a
        >
      </p>
      <p>
        <a href="../files/Scientific%20Computing%20with%20Python.png"
          >Scientific Computing with Python (V7) - Earned 3 July 2020</a
        >
      </p>
      <p>
        <a href="../files/Full%20Stack.png"
          >Full Stack Developer - Earned 25 May 2020</a
        >
      </p>
      <p>
        <a href="../files/Responsive%20Web%20Design.png"
          >Responsive Web Design - Earned 18 April 2020</a
        >
      </p>
      <p>
        <a href="../files/JavaScript%20Algorithms%20and%20Data%20Structures.png"
          >JavaScript Algorithms and Data Structures - Earned 24 April 2020</a
        >
      </p>
      <p>
        <a href="../files/Front%20End%20Libraries.png"
          >Front End Libraries - Earned 29 April 2020</a
        >
      </p>
      <p>
        <a href="../files/Data%20Visualisation.png"
          >Data Visualisation - Earned 25 May 2020</a
        >
      </p>
      <p>
        <a href="../files/APIs%20and%20Microservices.png"
          >APIs and Microservices - Earned 8 May 2020</a
        >
      </p>
      <p>
        <a
          href="../files/Information%20Security%20and%20Quality%20Assurance.png"
          >Information and Quality Assurance - Earned 19 May 2020</a
        >
      </p>
      <hr />
      <h2>
        <a href="https://learndigital.withgoogle.com/digitalgarage"
          >Google Digital Garage</a
        >
      </h2>
      <p>
        <a href="../files/Google%20Digital%20Marketing.pdf"
          >Fundamentals of Digital Marketing - Earned 7 May 2020</a
        >
      </p>
    </main>
    <hr />
    <footer id="footer">
      <p id="footer-text">
        &copy; 2020 Nicholas Carrigan
      </p>
      <p>
        <a class="nav-link" href="../index.html">Home</a> |
        <a class="nav-link" href="./projects.html">Projects</a> |
        <a class="nav-link" href="./contribs.html">Contributions</a> |
        <span class="current-page">Certifications</span> |
        <a class="nav-link" href="./connect.html">Connect</a> |
        <a class="nav-link" href="http://contact.nhcarrigan.com">Contact</a> |
        <a class="nav-link" href="https://blog.nhcarrigan.com">Blog</a>
      </p>
    </footer>
  </body>
</html>
