<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="preload"
      as="fonts"
    />
    <script
      src="https://kit.fontawesome.com/f949111719.js"
      crossorigin="anonymous"
      rel="preconnect"
      async
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../public/connect.css" />
    <title>Connect with Nicholas!</title>
  </head>
  <body>
    <section id="contact">
      <h1>Social Media</h1>
      <h2>
        I am available on any of the below platforms. I look forward to the
        opportunity to connect and work with you.
      </h2>
      <p>
        <a
          href="../files/Resume 2020.pdf"
          target="_blank"
          rel="noopener noreferrer"
          title="Resume"
          ><i class="fas fa-file"></i> - Resume</a
        >
      </p>
      <p>
        <a
          href="https://forum.freecodecamp.org/u/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
          title="FreeCodeCamp"
          ><i class="fab fa-free-code-camp"></i> - freeCodeCamp Forum</a
        >
      </p>
      <p>
        <a
          href="https://github.com/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
          title="GitHub"
          ><i class="fab fa-github-square"></i> - GitHub</a
        >
      </p>
      <p>
        <a
          href="https://www.facebook.com/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
          title="Facebook"
          ><i class="fab fa-facebook-square"></i> - Facebook</a
        >
      </p>
      <p>
        <a
          href="https://www.linkedin.com/in/nhcarrigan/"
          target="_blank"
          rel="noopener noreferrer"
          title="LinkedIn"
          ><i class="fab fa-linkedin"></i> - LinkedIn</a
        >
      </p>
      <p>
        <a
          href="https://twitter.com/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
          title="Twitter"
          ><i class="fab fa-twitter"></i> - Twitter</a
        >
      </p>
      <p>
        <a
          href="https://steamcommunity.com/id/nhcarrigan/"
          target="_blank"
          rel="noopener noreferrer"
          title="Steam"
          ><i class="fab fa-steam"></i> - Steam</a
        >
      </p>
      <p>
        <a
          href="https://discord.gg/PHqDbkg"
          target="_blank"
          rel="noopener noreferrer"
          title="Discord Server"
          ><i class="fab fa-discord"></i> - Discord Server</a
        >
      </p>
    </section>
    <footer id="footer">
      <p id="footer-text">
        &copy; 2020 Nicholas Carrigan
      </p>
      <p>
        <a class="nav-link" href="../index.html">Home</a> |
        <a class="nav-link" href="./projects.html">Projects</a> |
        <a class="nav-link" href="./contribs.html">Contributions</a> |
        <a class="nav-link" href="./certs.html">Certifications</a> |
        <span class="current-page">Connect</span> |
        <a class="nav-link" href="http://contact.nhcarrigan.com">Contact</a> |
        <a class="nav-link" href="https://blog.nhcarrigan.com">Blog</a>
      </p>
    </footer>
  </body>
</html>
