<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-176870980-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-176870980-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Nicholas' contributions to other developers' projects."
    />
    <link rel="preload" href="../public/contribs.css" as="style" />
    <link rel="stylesheet" href="../public/contribs.css" type="text/css" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=VT323&display=swap"
      rel="stylesheet"
    />
    <title>Nicholas Carrigan - Contributions</title>
  </head>
  <header id="header">
    <p>
      <a class="nav-link" href="../index.html">Home</a> |
      <a class="nav-link" href="./projects.html">Projects</a> |
      <span class="current-page">Contributions</span> |
      <a class="nav-link" href="./certs.html">Certifications</a> |
      <a class="nav-link" href="./connect.html">Connect</a> |
      <a class="nav-link" href="http://contact.nhcarrigan.com">Contact</a> |
      <a class="nav-link" href="https://blog.nhcarrigan.com">Blog</a>
    </p>
  </header>
  <body>
    <section id="contribs">
      <h1>Contributions</h1>
      <p>
        These are some of the projects that I did not create, but to which I
        have made contributions.
      </p>
      <p>
        <a
          href="https://github.com/bradtaniguchi/discord-bot-test"
          target="_blank"
          rel="noopener noreferrer"
          >Discord Bot Test - Brad Taniguchi</a
        >
      </p>
      <p>
        <a
          href="https://github.com/freeCodeCamp/freeCodeCamp"
          target="_blank"
          rel="noopener noreferrer"
          >FreeCodeCamp Curriculum - FreeCodeCamp</a
        >
      </p>
      <p>
        <a
          href="https://github.com/Twaha-Rahman/e-commercify"
          target="_blank"
          rel="noopener noreferrer"
          >E-Commercify - Twaha Rahman</a
        >
      </p>
    </section>
  </body>
</html>
