<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="contribs">

        <hr />
        <h1>Contributions</h1>
        <p>
          These are some of the projects that I did not create, but to which I
          have made contributions.
        </p>
        <div id="contrib-table">
          <ul id="contrib1">
            <li>
              <a
                href="https://github.com/bradtaniguchi/discord-bot-test"
                target="_blank"
                rel="noopener noreferrer"
                >Discord Bot Test - Brad Taniguchi</a
              >
            </li>
          </ul>
          <ul id="contrib2">
            <li>
              <a
                href="https://github.com/freeCodeCamp/freeCodeCamp"
                target="_blank"
                rel="noopener noreferrer"
                >FreeCodeCamp Curriculum - FreeCodeCamp</a
              >
            </li>
          </ul>
          <ul id="contrib3">
            <li>
              <a
                href="https://github.com/Twaha-Rahman/e-commercify"
                target="_blank"
                rel="noopener noreferrer"
                >E-Commercify - Twaha Rahman</a
              >
            </li>
          </ul>
        </div>
      </section>
      <footer id="footer">
        <p id="footer-text">
          &copy; 2020 Nicholas Carrigan
        </p>
        <p><a class="nav-link" href="">Home</a> | <a class="nav-link" href="">Projects</a> | <a class="nav-link" href="">Contributions</a> | <a class="nav-link" href="">Certifications</a> | <a class="nav-link" href="">Connect</a> | <a class="nav-link" href="">Contact</a> | <a class="nav-link" href="">Blog</a></p>
      </footer>
</body>
</html>