<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Nicholas' personal and professional projects."
    />
    <link rel="preload" href="../public/projects.css" as="style" />
    <link rel="stylesheet" href="../public/projects.css" type="text/css" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
      href="https://fonts.googleapis.com/css?family=VT323&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f949111719.js"
      crossorigin="anonymous"
      rel="preconnect"
      async
    ></script>
    <title>Nicholas Carrigan - Projects</title>
  </head>
  <header id="header">
    <p>
      <a class="nav-link" href="../index.html">Home</a> |
      <span class="current-page">Projects</span> |
      <a class="nav-link" href="./contribs.html">Contributions</a> |
      <a class="nav-link" href="./certs.html">Certifications</a> |
      <a class="nav-link" href="./connect.html">Connect</a> |
      <a class="nav-link" href="http://contact.nhcarrigan.com">Contact</a> |
      <a class="nav-link" href="https://blog.nhcarrigan.com">Blog</a>
    </p>
  </header>
  <body>
    <main>
      <section id="projects">
        <h1>Projects</h1>
        <p>These are the projects I have currently completed.</p>
        <div id="project-table">
          <div class="project">
            <div>
              <p><a href="https://www.nhcarrigan.com/Pokedex">Pokedex</a></p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Pokedex"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Pokemon web app written with TypeScript. Connects to an API to
                fetch data and render it in a readable format.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Tic-Tac-Toe">Tic-Tac-Toe</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Tic-Tac-Toe"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Tic-Tac-Toe game written in TypeScript. Basic logic has been
                implemented to try to prevent the player from winning.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/discord-bot-documentation"
                  >Discord Bot</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/discord-bot"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A bot for Discord, written in TypeScript. Uses the discord.js
                library and a connection to a MongoDB database.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Weather-App">Weather App</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Weather-App"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A weather app written in JavaScript. Allows the user to fetch
                their weather based on location, or by inputting coordinates.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mtg-search"
                  >Magic: The Gathering - Card Search</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mtg-search"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Magic: The Gathering based web app that was written with
                TypeScript. Allows the user to search for a card by name and
                optionally by card set. Fetches data from an API and renders it
                in a readable format.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mtg-element-battle"
                  >Magic: The Gathering - Element Battle</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mtg-element-battle"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Magic: The Gathering themed "Rock Paper Scissors" clone,
                written in TypeScript. Determines the winner of each round and
                tracks the scores.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/counting-cards"
                  >Card Counting Trainer</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/counting-cards"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A web app designed to help the user learn how to count cards in
                BlackJack. Includes three levels of increasing difficulty.
                Written with JavaScript.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/smash-a-bug">Smash A Bug</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/smash-a-bug"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A programming themed "whack a mole" clone written in JavaScript.
                Allows the user to set a goal for the number of bugs smashed,
                and tracks progress toward that goal.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/text-adventure"
                  >Choose Your Own Adventure</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/text-adventure"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A web app written in HTML. This app is designed to mimic the
                experience of reading a Choose Your Own Adventure book.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="http://forum.nhcarrigan.com">Forum</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/forum"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A full-stack application built with MongoDB, node.js, Express,
                and TypeScript. Still in alpha.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mini-projects"
                  >Mini Projects</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mini-projects"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>A collection of various smaller web-apps and projects.</p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.ncharrigan.com/react-test"
                  >React Experiments</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/react-test"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A collection of smaller projects created using React. These are
                the beginning of my process to learn the React framework.
              </p>
            </div>
          </div>
        </div>
        <hr />
        <h2>freeCodeCamp projects</h2>
        <p>
          These are some of the certification projects for the freeCodeCamp
          curriculum.
        </p>
        <div class="project-table">
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/responsive-web-design"
                  >Responsive Web Design</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/responsive-web-design"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written in
                HTML.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/front-end-libraries"
                  >Front End Libraries</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/front-end-libraries"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with JavaScript and jQuery.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/data-visualisation"
                  >Data Visualisation</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/data-visualisation"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with JavaScript and the d3 library.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/APIs-and-Microservices"
                  >APIs and Microservices</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/APIs-and-Microservices"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with node.js, MongoDB, and Express.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/quality-assurance"
                  >Quality Assurance</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/quality-assurance"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with node.js, MongoDB, and Express.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Information-Security"
                  >Information Security</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Information-Security"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of two freeCodeCamp certification projects, written
                with node.js, MongoDB, and Express.
              </p>
            </div>
          </div>

        </div>
      </section>
    </main>
  </body>
</html>
