<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="projects">
        <h1>Projects</h1>
        <p>
          These are some of my top projects. I have selected these particular
          projects because I feel they most effectively represent my current
          level of proficiency, or because they simply make me proud. You can
          view the rest of my projects with the links in the
          <a href="#contact">Contact Me</a> section.
        </p>
        <div id="project-container">
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/Project-Euler"
            >
              Project Euler - Challenges interpreted by FCC
              <hr class="project-hr" />
              <img class="project-image" src="./img/fcc.jpg" alt="FCC Logo" />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/Project-Euler"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/js-calculator"
            >
              JavaScript Calculator
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/calculator.jpg"
                alt="JavaScript Calculator Preview"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/js-calculator"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/Algebraic-Concepts/"
            >
              Algebraic Concepts - Documentation Page
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/algebra.jpg"
                alt="Algebraic Concepts Preview"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/Algebraic-Concepts"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a class="project-link" href="http://www.nhcarrigan.com/Pokedex/">
              PokeDex App
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/pokedex.jpg"
                alt="Pokedex Preview"
              />
            </a>
            <hr class="project-hr" />
            <a class="project-link" href="https://github.com/nhcarrigan/Pokedex"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/Tic-Tac-Toe"
              >TicTacToe Game
              <hr class="project-hr" />
              <img class="project-image" src="./img/ttt.jpg" alt="TicTacToe" />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/Tic-Tac-Toe"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/discord-bot-documentation/"
              >Discord Bot
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/discord.jpg"
                alt="Discord Bot"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/discord-bot"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="http://www.nhcarrigan.com/Weather-App/"
              >Weather App
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/weather.jpg"
                alt="Weather App"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/Weather-App"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a class="project-link" href="http://www.nhcarrigan.com/mtg-search"
              >Magic: The Gathering - Card Search
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/mtg.jpg"
                alt="Magic Card Search"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/mtg-search"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="http://www.nhcarrigan.com/mtg-element-battle"
              >Magic: The Gathering - Element Battle
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/mtg2.jpg"
                alt="Magic Element Battle"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/mtg-element-battle"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/counting-cards"
            >
              Counting Cards
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/cards.jpg"
                alt="Counting Cards"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/counting-cards"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/smash-a-bug"
              >Smash-a-Bug
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/bug.jpg"
                alt="Smash a Bug"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/smash-a-bug"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
          <div class="project-tile">
            <a
              class="project-link"
              href="https://www.nhcarrigan.com/text-adventure"
              >Choose Your Own Adventure game
              <hr class="project-hr" />
              <img
                class="project-image"
                src="./img/cyoa.jpg"
                alt="Choose Your Own Adventure"
              />
            </a>
            <hr class="project-hr" />
            <a
              class="project-link"
              href="https://github.com/nhcarrigan/text-adventure"
              ><button class="code-button">
                <i class="fab fa-github"></i>View code
              </button></a
            >
          </div>
        </div>
      </section>
      <h1>Smaller Projects</h1>
      <p>These are my smaller projects that I have not chosen to feature.</p>
      <div id="project-table">
        <ul id="project1">
          <li>
            <a
              href="https://www.nhcarrigan.com/responsive-web-design/"
              target="_blank"
              rel="noopener noreferrer"
              >Responsive Web Design Projects</a
            >
          </li>
          <li>
            <a
              href="https://www.nhcarrigan.com/mini-projects/"
              target="_blank"
              rel="noopener noreferrer"
              >Mini-Projects</a
            >
          </li>
        </ul>
        <ul id="project2">
          <li>
            <a
              href="https://www.nhcarrigan.com/front-end-libraries/"
              target="_blank"
              rel="noopener noreferrer"
              >Front End Libraries Projects</a
            >
          </li>
          <li>
            <a
              href="https://www.nhcarrigan.com/react-test"
              target="_blank"
              rel="noopener noreferrer"
              >React Experiments</a
            >
          </li>
        </ul>
        <ul id="project3">
          <li>
            <a
              href="https://www.nhcarrigan.com/data-visualisation/"
              target="_blank"
              rel="noopener noreferrer"
              >Data Visualisation Projects</a
            >
          </li>
        </ul>
      </div>
      <footer id="footer">
        <p id="footer-text">
          &copy; 2020 Nicholas Carrigan
        </p>
        <p><a class="nav-link" href="">Home</a> | <a class="nav-link" href="">Projects</a> | <a class="nav-link" href="">Contributions</a> | <a class="nav-link" href="">Certifications</a> | <a class="nav-link" href="">Connect</a> | <a class="nav-link" href="">Contact</a> | <a class="nav-link" href="">Blog</a></p>
      </footer>
</body>
</html>