<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/projects.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="preload"
      as="fonts"
    />
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f949111719.js"
      crossorigin="anonymous"
      rel="preconnect"
      async
    ></script>
    <title>Nicholas Carrigan - Projects</title>
  </head>
  <body>
    <main>
      <section id="projects">
        <h1>Projects</h1>
        <p>
          These are the projects I have currently completed.
        </p>
        <div id="project-table">
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Project-Euler"
                  >Project Euler</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Project-Euler"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                The Project Euler challenges as interpreted by freeCodeCamp.
                These solutions are written in JavaScript, designed to pass the
                test cases that freeCodeCamp assembled for each challenge.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/js-calculator"
                  >JavaScript Calculator</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/js-calculator"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A calculator app written with JavaScript - originally a
                freeCodeCamp certification project, but has since been improved
                upon.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Algebraic-Concepts"
                  >Algebraic Concepts</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Algebraic-Concepts"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A technical documentation page written as a freeCodeCamp
                certification project, using HTML and CSS.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p><a href="https://www.nhcarrigan.com/Pokedex">Pokedex</a></p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Pokedex"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Pokemon web app written with TypeScript. Connects to an API to
                fetch data and render it in a readable format.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Tic-Tac-Toe">Tic-Tac-Toe</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Tic-Tac-Toe"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Tic-Tac-Toe game written in TypeScript. Basic logic has been
                implemented to try to prevent the player from winning.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/discord-bot-documentation"
                  >Discord Bot</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/discord-bot"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A bot for Discord, written in TypeScript. Uses the discord.js
                library and a connection to a MongoDB database.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/Weather-App">Weather App</a>
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/Weather-App"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A weather app written in JavaScript. Allows the user to fetch
                their weather based on location, or by inputting coordinates.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mtg-search"
                  >Magic: The Gathering - Card Search</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mtg-search"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Magic: The Gathering based web app that was written with
                TypeScript. Allows the user to search for a card by name and
                optionally by card set. Fetches data from an API and renders it
                in a readable format.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mtg-element-battle"
                  >Magic: The Gathering - Element Battle</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mtg-element-battle"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A Magic: The Gathering themed "Rock Paper Scissors" clone,
                written in TypeScript. Determines the winner of each round and
                tracks the scores.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/counting-cards"
                  >Card Counting Trainer</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/counting-cards"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A web app designed to help the user learn how to count cards in
                BlackJack. Includes three levels of increasing difficulty.
                Written with JavaScript.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p><a href="https://www.nhcarrigan.com/smash-a-bug">Title</a></p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/smash-a-bug"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A programming themed "whack a mole" clone written in JavaScript.
                Allows the user to set a goal for the number of bugs smashed,
                and tracks progress toward that goal.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/text-adventure"
                  >Choose Your Own Adventure</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/text-adventure"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A web app written in HTML. This app is designed to mimic the
                experience of reading a Choose Your Own Adventure book.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/responsive-web-design"
                  >Responsive Web Design</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/responsive-web-design"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written in
                HTML.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/front-end-libraries"
                  >Front End Libraries</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/front-end-libraries"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with JavaScript and jQuery.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/data-visualisation"
                  >Data Visualisation</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/data-visualisation"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A series of five freeCodeCamp certification projects, written
                with JavaScript and the d3 library.
              </p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.nhcarrigan.com/mini-projects"
                  >Mini Projects</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/mini-projects"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>A collection of various smaller web-apps and projects.</p>
            </div>
          </div>
          <div class="project">
            <div>
              <p>
                <a href="https://www.ncharrigan.com/react-test"
                  >React Experiments</a
                >
              </p>
              <p>
                <a
                  class="project-link"
                  href="https://github.com/nhcarrigan/react-test"
                  ><button class="code-button">
                    <i class="fab fa-github"></i>View code
                  </button></a
                >
              </p>
            </div>
            <div>
              <p>
                A collection of smaller projects created using React. These are
                the beginning of my process to learn the React framework.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <p id="footer-text">
        &copy; 2020 Nicholas Carrigan
      </p>
      <p>
        <a class="nav-link" href="../index.html">Home</a> |
        <span class="current-page">Projects</span> |
        <a class="nav-link" href="./contribs.html">Contributions</a> |
        <a class="nav-link" href="./certs.html">Certifications</a> |
        <a class="nav-link" href="./connect.html">Connect</a> |
        <a class="nav-link" href="https://contact.nhcarrigan.com">Contact</a> |
        <a class="nav-link" href="https://blog.nhcarrigan.com">Blog</a>
      </p>
    </footer>
  </body>
</html>
