<div class="text-content">
  <h1>Projects</h1>
  <p>These are my top personal projects. All of my projects are open source and can be viewed on my GitHub account.</p>
</div>
<div class="project" *ngFor="let project of projectList">
  <div>
    <h2>
      {{ project.title }}
    </h2>
    <img class="project-image" src="../../assets/img/{{ project.image }}" />
    <a
      class="custom-btn"
      href="{{ project.liveUrl }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fas fa-play-circle"></i>View Project</a
    >
    <a class="custom-btn" href="{{ project.codeUrl }}"
      ><i class="fab fa-github"></i>View Code</a
    >
  </div>
  <div>
    <p class="description">{{ project.description }}</p>
    <p><u>Tech Stack</u></p>
    <ul>
      <li *ngFor="let tech of project.tech">{{ tech }}</li>
    </ul>
  </div>
</div>
