label {
  display: block;
  cursor: url("/assets/img/pointer.cur"), auto;
}

.custom-btn {
  padding: 5px;
  border: 2px solid #3a3240;
  border-radius: 10px;
  color: #3a3240;
  background-color: #dfc0fa;
  transition: all 0.5s ease-in-out;
  font-size: 24pt;
  cursor: url("/assets/img/pointer.cur"), auto;
}

.custom-btn:hover {
  color: #dfc0fa;
  background-color: #3a3240;
  border: 2px solid #dfc0fa;
}

.custom-input {
  width: 20vw;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #3a3240;
  border-radius: 10px;
  color: #3a3240;
  background-color: #dfc0fa;
  transition: all 0.5s ease-in-out;
}

.custom-input:focus {
  color: #dfc0fa;
  background-color: #3a3240;
  border: 2px solid #dfc0fa;
}

.calendly-inline-widget {
  overflow: hidden;
  width: 80vw;
  max-width: 600px;
  margin: auto;
}
