* {
  font-family: VT323;
}

body {
  background-color: #3a3240;
  cursor: url("../img/triforce.cur"), auto;
  text-align: center;
  margin: 0;
}

a {
    color: #dfc0fa ;
    text-decoration: none;
    cursor: url("../img/pointer.cur"), auto;
  }
  
  a:hover {
    color: yellow;
  }

a.nav-link {
  color: #dfc0fa;
  background-color: #000000;
}

.current-page {
  background-color: #dfc0fa !important;
  color: #000000;
}
a.nav-link:hover {
  color: yellow;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

p {
  font-size: 18pt;
}

#contact {
  background-color: #3a3240;
  color: #dfc0fa ;
  display: table-cell;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
}

.current-page {
  background-color: #dfc0fa !important;
  color: #000000;
}

#header {
  background-color: #000000;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  text-align: center;
}