* {
  font-family: VT323;
}

body {
  background-color: #3a3240;
  cursor: url("../img/triforce.cur"), auto;
  text-align: center;
  margin: 0;
}

a {
  color: #dfc0fa;
  cursor: url("../img/pointer.cur"), auto;
}

a:hover {
  color: yellow;
}

a.nav-link {
  color: #dfc0fa;
  background-color: #000000;
  text-decoration: none;
}

a.nav-link:hover {
  color: yellow;
}
.current-page {
  background-color: #dfc0fa !important;
  color: #000000;
}
#main {
  text-align: center;
  background-color: #3a3240;
  padding: 0px;
}

h1 {
  font-size: 48pt;
}

p {
  font-size: 18pt;
}

#contribs {
  background-color: #3a3240;
  color: #dfc0fa;
margin: auto;
}

#header {
  background-color: #000000;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18pt;
}

#header > p {
  margin: 0;
}