* {
  font-family: VT323;
}

body {
  background-color: #3a3240;
  cursor: url("../img/triforce.cur"), auto;
  text-align: center;
  margin: 0;
}

a {
  color: #dfc0fa;
  cursor: url("../img/pointer.cur"), auto;
}

a:hover {
  color: yellow;
}

a.nav-link {
  color: #dfc0fa;
  background-color: #000000;
  text-decoration: none;
}

a.nav-link:hover {
  color: yellow;
}
.current-page {
  background-color: #dfc0fa !important;
  color: #000000;
}
#main {
  text-align: center;
  background-color: black;
  padding: 0px;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

p {
  font-size: 18pt;
}

ul {
  list-style: none;
  font-size: 24pt;
}

#projects {
  background-color: #3a3240;
  color: #dfc0fa;
  display: table-cell;
  vertical-align: top;
}

.project {
  margin: 10px;
  display: grid;
  grid-gap: 0px;
  font-size: 18pt;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.project > div {
  border: 1px solid #dfc0fa;
}

.code-button {
  font-size: 24pt;
  color: #3a3240;
  background-color: #dfc0fa;
  margin-bottom: 5px;
  cursor: url("../img/pointer.cur"), pointer;
}
#header {
  background-color: #000000;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18pt;
}

#header > p {
  margin: 0;
}