* {
  font-family: VT323;
}

body {
  background-color: #000000;
  cursor: url("../img/triforce.cur"), auto;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: url("../img/pointer.cur"), auto;
}

a:hover {
  color: #dfc0fa;
  background-color: #000000;
}

a.project-link {
  color: #dfc0fa;
}

a.project-link:hover {
  color: yellow;
}

a.nav-link {
  color: #dfc0fa;
  background-color: #000000;
}

a.nav-link:hover {
  color: yellow;
}

#main {
  text-align: center;
  background-color: black;
  padding: 0px;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

p {
  font-size: 18pt;
}

ul {
  list-style: none;
  font-size: 24pt;
}

hr {
  border-color: #dfc0fa;
  border-width: 1px;
  border-style: solid;
}

hr.project-hr {
  border-color: #dfc0fa;
  border-width: 1px;
  border-style: solid;
}

#navbar {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  top: -5px;
  left: -5px;
  padding: 5px;
  text-align: center;
  position: fixed;
  font-size: 18pt;
  width: 200px;
  display: none;
}

#hamburger {
  font-size: 24pt;
  color: #000000;
  position: fixed;
  z-index: 1;
  margin-left: 5px;
}

#navbar-title {
  font-size: 24pt;
}

#special-link {
  font-size: 20pt;
}

#profile {
  height: 200px;
}

#contact-links {
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 32pt;
}

#welcome-section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/background1.jpg");
  background-size: 100% 100%;
  background-color: #ffffff;
  color: #000000;
  display: table-cell;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
}

#languages {
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 32pt;
}

#projects {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/background2.jpg");
  background-size: 100% 100%;
  background-color: #ffffff;
  color: #000000;
  display: table-cell;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
}

#contact {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/background4.jpg");
  background-size: 100% 100%;
  background-color: #ffffff;
  color: #000000;
  display: table-cell;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
}

#project-container {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  font-size: 18pt;
}

#contribs {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/background3.jpg");
  background-size: 100% 100%;
  background-color: #ffffff;
  color: #000000;
  display: table-cell;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
}
#project-table {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  font-size: 18pt;
}

#contrib-table {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  font-size: 18pt;
}
.project-tile {
  background-color: #000000;
  border-color: #dfc0fa;
  border-width: 5px;
  border-style: solid;
}
.project-image {
  width: 200px;
  height: 200px;
}

.code-button {
  font-size: 24pt;
  color: #000000;
  background-color: #dfc0fa;
  margin-bottom: 5px;
}

#footer {
  background-color: #000000;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18pt;
}

@media (min-width: 400px) {
  #project-container {
    grid-template-columns: 1fr !important;
  }
  #contrib-table {
    grid-template-columns: 1fr !important;
  }
  #project-table {
    grid-template-columns: 1fr !important;
  }
}
@media (min-width: 600px) {
  #project-container {
    grid-template-columns: 1fr 1fr;
  }
  #contrib-table {
    grid-template-columns: 1fr 1fr;
  }
  #project-table {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  #project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #project-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #project-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
