a {
  color: var(--light-purple);
}

.anchor {
  text-decoration: underline;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-title {
  font-size: 20pt;
}

.project-button {
  background-color: var(--light-purple);
  color: var(--dark-purple);
  border-radius: 10px;
  border: 2px solid var(--light-purple);
}

.project-button:hover {
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.modal {
  position: absolute;
  z-index: 10;
  top: 75px;
  width: 100vw;
  background-color: var(--light-purple);
  color: var(--dark-purple);
  text-align: center;
}

.modal > ul {
  list-style: none;
  padding: 0;
}

.modal-button {
  background-color: var(--dark-purple);
  color: var(--light-purple);
  border-radius: 10px;
  border: 2px solid var(--dark-purple);
  padding: 5px 5px;
}

.modal-button:hover {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

.modal a {
  color: var(--light-purple);
  font-size: 16pt;
  text-decoration: none;
}

.modal-button:hover a {
  color: var(--dark-purple)
}

.job-header {
  margin-bottom: 0;
}

.job-title {
  font-weight: bold;
}

.job-time {
  margin-top: 0;
  font-style: italic;
}

.job-divide {
  outline: none;
  border: 1px solid var(--light-purple);
  background-color: var(--light-purple);
}
