<div class="content">
  <h1>My Work</h1>
  <p>Here you can see the professional and personal work I've accomplished.</p>
  <p>
    You can
    <span class="anchor" (click)="anchor('projects')">see my projects</span>,
    <span class="anchor" (click)="anchor('certs')"
      >verify my certifications</span
    >, or
    <span class="anchor" (click)="anchor('exp')">browse my experience</span>.
  </p>
  <h2 id="projects">Projects</h2>
  <div class="project" *ngFor="let project of projects">
    <img class="project-image" src="../../assets/img/{{ project.image }}" />
    <div>
      <p class="project-title">{{ project.title }}</p>
      <p class="project-button" (click)="showModal(project)">Project Info</p>
    </div>
  </div>
  <h2 id="certs">Certifications</h2>
  <p>These are the professional certifications I have earned.</p>
  <p class="cert" *ngFor="let cert of certs">
    <a href="{{ cert.url }}" target="_blank" rel="noopener noreferrer"
      >{{ cert.name }} - earned {{ cert.date }}</a
    >
  </p>
  <h2 id="exp">Experience</h2>
  <p>This is my professional experience, both paid and volunteer.</p>
  <div *ngFor="let pos of exp">
    <hr class="job-divide" />
    <p class="job-header">
      <span class="job-title">{{ pos.position }}</span> at
      <a href="{{ pos.url }}" target="_blank" rel="noopener noreferrer">{{
        pos.name
      }}</a>
    </p>
    <p class="job-time">{{ pos.start }} - {{ pos.end }}</p>
    <p class="job-desc">{{ pos.description }}</p>
  </div>
</div>
<!-- Modal Code -->
<div *ngIf="modal && target" class="modal">
  <h1>{{ target.title }}</h1>
  <p>{{ target.description }}</p>
  <p class="under">Tech Stack</p>
  <ul>
    <li *ngFor="let tech of target.tech">{{ tech }}</li>
  </ul>
  <div class="button-cont">
    <span class="modal-button"
      ><a href="{{ target.liveUrl }}" target="_blank" rel="noopener noreferrer"
        >View Project</a
      ></span
    >
    <span class="modal-button"
      ><a href="{{ target.codeUrl }}" target="_blank" rel="noopener noreferrer"
        >View Code</a
      ></span
    >
  </div>
  <p class="modal-button" (click)="closeModal()">Close</p>
</div>
