<div class="text-content">
  <h1>Connect with Me!</h1>
  <p>
    I am available on any of the below platforms. I look forward to the
    opportunity to connect and work with you.
  </p>
  <ul>
    <li *ngFor="let site of social">
      <a href="{{ site.url }}" target="_blank" rel="noopener noreferrer"
        ><i class="{{ site.icon }}"></i> - {{ site.site }}</a
      >
    </li>
  </ul>
  <iframe
    src="https://discordapp.com/widget?id=778130114772598785&theme=dark"
    width="350"
    height="500"
    allowtransparency="true"
    frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
  ></iframe>
</div>
