<div class="text-content">
  <h1>Connect with Me!</h1>
  <p>
    I am available on any of the below platforms. I look forward to the
    opportunity to connect and work with you.
  </p>
  <ul>
    <li class="social-data" *ngFor="let site of social">
      <a
        class="custom-btn"
        href="{{ site.url }}"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="{{ site.icon }}"></i> {{ site.site }}</a
      > -
      <span class="description">{{ site.description }}</span>
    </li>
  </ul>
</div>
