.art-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.art {
  background-color: var(--dark-purple);
  color: var(--light-purple);
  padding: 10px;
}

.art img {
  width: 75%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top center;
}

a {
  color: var(--light-blue);
}

@media screen and (max-width: 749px) {
  .art-grid {
    grid-template-columns: 1fr 1fr;
  }
}
