:root {
  --dark-purple: #3a3240;
  --dark-blue: #0b0080;
  --light-purple: #aea8de;
  --light-blue: #48d1cc;
  --cursor-normal: url("/assets/img/triforce.cur");
  --cursor-pointer: url("/assets/img/sword.cur");

  /* Sponsor Colours */
  --silver-sponsor: #607d8b;
  --gold-sponsor: #f1c40f;
  --platinum-sponsor: #95a5a6;
  --amethyst-sponsor: #9b59b6;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P-Regular.ttf");
  font-display: swap;
}

html {
  cursor: var(--cursor-normal), default;
}

body {
  margin: 0;
  background: url("https://cdn.nhcarrigan.com/banner.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--dark-purple);
  font: "Press Start 2P";
  text-align: center;
}

a {
  cursor: var(--cursor-pointer), pointer;
  color: var(--dark-blue);
}

.light-link {
  color: var(--light-blue);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.content {
  margin: auto;
  margin-top: 10px;
  max-width: 750px;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.job-title {
  font-weight: bold;
  margin-bottom: 0;
}

.job-timeline {
  font-style: italic;
  margin-top: 0;
}

/* Sponsor Tiers */

.silver-sponsor {
  color: var(--silver-sponsor);
}

.gold-sponsor {
  color: var(--gold-sponsor);
}

.platinum-sponsor {
  color: var(--platinum-sponsor);
}

.amethyst-sponsor {
  color: var(--amethyst-sponsor);
}

/* NES.css Overrides */
.nes-container.is-rounded {
  background-color: rgb(174, 168, 222);
}

.nes-container.is-rounded.with-title.is-centered {
  margin-bottom: 20px;
}

.nes-container.is-rounded.with-title.is-centered.is-dark {
  margin-bottom: 20px;
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.nes-container.is-rounded.is-centered.is-dark {
  margin-bottom: 20px;
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.nes-container.is-rounded.with-title.is-centered > .title {
  background-color: var(--dark-purple);
  color: var(--light-purple);
  font-size: 1.5rem;
}

.nes-btn {
  cursor: var(--cursor-pointer), pointer;
}

/* Beccalia Styles */

.gallery {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
}

.gallery-tile {
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: var(--dark-purple);
  color: var(--light-purple);
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 0.75rem;
}

.gallery-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0%;
}

.gallery-link {
  color: var(--light-blue)
}

@media (min-width: 300px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 299px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}