<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Town Plaza</h1>
    <p>
      The town plaza is a bustle of activity. There are merchant stalls lining
      the streets, and people milling about as they head to their destinations.
    </p>
    <p>
      In the centre of the plaza, a large and glamourous fountain catches your
      eye. More importantly, there appears to be some sort of notice board next
      to it.
    </p>
    <p>
      You approach the notice board, where someone has kindly posted a list of
      important locations within the city.
    </p>
    <div class="nes-container with-title is-centered is-dark is-rounded">
      <ul>
        <li>
          Over at the <strong>Library</strong>, you could read up on Naomi's
          history and background.
        </li>
        <li>
          Sounds of battle can be heard from the <strong>Arena</strong>, where
          Naomi is in frequent battle with bugs.
        </li>
        <li>
          The <strong>Tavern</strong> would be the place to go to socialise with
          your fellow travellers.
        </li>
        <li>Great works of art can be seen in the <strong>Museum</strong>.</li>
        <li>
          If you wish to see past adventures and brush up on your adventuring
          abilities, spend some time in the <strong>Training Hall</strong>.
        </li>
        <li>
          You've heard that people sometimes choose to make a donation to the
          <strong>Temple</strong>, so that the work done in this land can
          continue.
        </li>
        <li>
          The city also has a <strong>Castle</strong>, which appears to be where
          Naomi resides.
        </li>
      </ul>
    </div>
    <p>Where wouldst thou geau?</p>
  </div>
  <a class="nes-btn" routerLink="/library">Library</a>
  <a class="nes-btn" routerLink="/arena">Arena</a>
  <a class="nes-btn" routerLink="/tavern">Tavern</a>
  <a class="nes-btn" routerLink="/museum">Museum</a>
  <a class="nes-btn" routerLink="/training-hall">Training Hall</a>
  <a class="nes-btn" routerLink="/temple">Temple</a>
  <a class="nes-btn" routerLink="/castle">Castle</a>
</div>
