<div class="content">
  <h1>Privacy Policy</h1>
  <p>
    Some of our applications may need to collect data relevant to the app's
    function. This data may include (but is not limited to) personal
    information, user-provided content, user interactions, and analytics data.
  </p>
  <h2>Access to Data</h2>
  <p>
    Access to collected data is only permitted to myself and anyone working on
    the production application. Access is limited to the minimum scope required
    for the development, testing, and implementation of the application. Data is
    not sold, provided to, or shared with any third party, except where required
    by law or a Terms of Service agreement. You can request a copy of your data
    via <a routerLink="/contact">our contact form</a>.
  </p>
  <h2>Storage of Data</h2>
  <p>
    Applications which collect and store data externally use a database that is
    secured to prevent external access. While all steps are taken to ensure data
    is safe, we offer no warranty and assume no liability in the event of an
    unintentional or malicious breach of data. In the event of an unauthorised
    data access, users of the affected applications will be notified via email
    (if provided), or through an announcement in our
    <a
      href="http://chat.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >chat server</a
    >.
  </p>
  <h2>User Rights</h2>
  <p>
    At any time, you have the right to request a copy of your data a specific
    application has collected. You have the right to request removal of your
    data from a specific application. Requests may be submitted through
    <a routerLink="/contact">our contact form</a>.
  </p>
</div>
