/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  min-height: 80vh;
}

html {
  background-image: url("./assets/img/back.png");
  background-size: cover;
  cursor: url("/assets/img/triforce.cur"), auto;
}

* {
  font-family: "VT323";
}

h1 {
  font-size: 38pt;
  margin-top: 0;
}

h2 {
  font-size: 32pt;
}

p {
  font-size: 16pt;
}

nav {
  font-size: 16pt;
}

ul {
  font-size: 16pt;
}

a {
  cursor: url("/assets/img/pointer.cur"), auto;
}

html {
  --scrollbarBG: #3a3240;
  --thumbBG: #aea8d3;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
