<h1>Calendar</h1>

<p>I am open to meeting requests almost any time of the day. My preferred meeting platform is Discord, and generally chat works better than voice/video calls. However, I <em>am</em> open to other platforms if needed.</p>
<p>I offer meetings for the following services:</p>
<ul>
  <li>Pair programming sessions</li>
  <li>Mentorship sessions</li>
  <li>Freelance Consultation</li>
  <li>Code Review</li>
  <li>...and many more!</li>
</ul>
<p>If you are interested in scheduling a meeting, use the calendar below:</p>
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/nhcarrigan/meeting-request?background_color=3a3240&text_color=dfc0fa&primary_color=57426f" style="min-width:320px;height:630px;"></div>
<!-- Calendly inline widget end -->
