<div class="content">
  <h1>Nicholas Carrigan</h1>
  <img class="avatar" alt="avatar" src="../../assets/img/profile.png" />
  <p>
    I am a fullstack developer with a focus on Angular and TypeScript. With over
    {{ yearString }} of development experience, I am ready to tackle on any challenge
    that is thrown my way.
  </p>
  <p>This is my profile page. Here you can:</p>
  <ul>
    <li *ngFor="let link of links">
      <a routerLink="{{ link.link }}">{{ link.homeText }}</a>
    </li>
  </ul>
  <p>
    Feel free to look around. If you have feedback or improvements to this site,
    <a
      href="https://github.com/nhcarrigan/nhcarrigan.github.io"
      target="_blank"
      rel="noopener noreferrer"
      >visit the GitHub repository</a
    >
    where you can open an issue or submit a pull request.
  </p>
  <p>
    My avatar was generously provided by
    <a
      href="https://www.instagram.com/moonlightkcreations/"
      target="_blank"
      rel="noopener noreferrer"
      >Moonlight</a
    >.
  </p>
</div>
