<h1>Nicholas Carrigan</h1>
<div>
  <img class="profile" src="../../assets/img/profile.jpg" />
  <p *ngFor="let line of intro">{{ line }}</p>
</div>
<h2>Technologies</h2>
<ul class="tech">
  <li *ngFor="let tech of techs">{{tech}}</li>
</ul>
<div class="feat-container">
  <div class="featured" *ngFor="let feat of featured">
    <a href="{{ feat.liveUrl }}"
      ><p>{{ feat.title }}</p></a
    >
    <img src="../../assets/img/{{ feat.image }}" />
    <hr class="project-hr"/>
    <p>{{ feat.description }}</p>
    <button class="code-button">
      <a href="{{ feat.codeUrl }}">View Code</a>
    </button>
  </div>
</div>
