* {
  text-align: center;
}

.text-content {
  max-width: 750px;
  width: 90vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-top: 10px;
}

.feat-container {
  display: grid;
  column-gap: 10px;
}

.featured {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-color: #dfc0fa;
  border-width: 5px;
  border-style: solid;
  color: #dfc0fa;
  padding-bottom: 10px;
}

a {
  color: #dfc0fa;
  transition: all .5s ease-in-out;
}

a:hover {
  color: #3a3240;
  background-color: #dfc0fa;
}

i {
  font-size: 18pt;
}

.tech {
  list-style: none;
  padding: 0;
}

.tech-icon {
  margin: 0 10px;
  font-size: 24pt;
}

.profile {
  max-height: 200px;
  border-radius: 50%;
}

.project-hr {
  border-color: #dfc0fa;
  border-width: 1px;
  border-style: solid;
}

.custom-btn {
  padding: 5px;
  border: 2px solid #3a3240;
  border-radius: 10px;
  color: #3a3240;
  background-color: #dfc0fa;
  transition: all .5s ease-in-out;
}

.custom-btn:hover {
  color: #dfc0fa;
  background-color: #3a3240;
  border: 2px solid #dfc0fa;
}

.feat-title {
  font-size: 20pt;
}

@media (min-width: 400px) {
  .feat-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .feat-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .feat-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .feat-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .feat-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
