.content {
  text-align: center;
  background-color: var(--transparent);
  width: 80vw;
  max-width: 500px;
  margin: 25px auto;
  border-radius: 10px;
  color: var(--light-purple);
  padding: 10px 0;
  background-image: var(--border-img);
  background-size: 98% 100%;
  background-repeat: no-repeat;
  max-height: calc(100vh - 75px - 50px);
  overflow-y: scroll;
}

.avatar {
  width: 250px;
}

li {
  list-style-type: "💜";
  list-style-position: inside;
}

a {
  color: var(--light-purple);
}
