<div class="content">
  <h1>Nicholas Carrigan</h1>
  <img class="avatar" src="../../assets/img/profile.png" />
  <p>Welcome to my profile page. Here you can:</p>
  <ul>
    <li>Read my story</li>
    <li>See my work</li>
    <li>Find my social sites</li>
    <li>Contact me</li>
    <li>View my supporters</li>
  </ul>
  <p>
    Feel free to look around. If you have feedback or improvements to this site,
    <a
      href="https://github.com/nhcarrigan/nhcarrigan.github.io"
      target="_blank"
      rel="noopener noreferrer"
      >visit the GitHub repository</a
    >
    where you can open an issue or submit a pull request.
  </p>
</div>
