<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Temple</h1>
    <p>
      You can feel an aura of unholy power in the air as you approach the
      temple. Cautiously, you walk up to the door and proceed inside.
    </p>
    <p>
      The interior doesn't look much different from what you'd expect, with
      benches facing an altar. There are a few people scattered throughout the
      benches, appearing to be in prayer - though to WHAT, you don't know.
    </p>
    <p>A priestess stands at the altar, calling out to you.</p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/priestess.png"
        class="face"
        alt="priestess' face"
      />
      <p>Come closer, child.</p>
    </div>
    <p>
      You approach the altar hesitantly, asking what the purpose of this place
      is.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/priestess.png"
        class="face"
        alt="priestess' face"
      />
      <p>
        For the townsfolk, a place of worship. But for travellers like you? It's
        a different story.
      </p>
    </div>
    <p>
      She motions toward four boxes on the altar. Each box is small, and made of
      metal, with a slot in the top that appears to be for coins. The boxes are
      labelled.
    </p>
    <div
      class="nes-container with-title is-centered is-dark is-rounded dialogue"
    >
      <img
        src="assets/img/faces/priestess.png"
        class="face"
        alt="priestess' face"
      />
      <p>
        Travellers such as yourself often leave coins behind, to help support
        the work Naomi does. Making a monthly donation can also grant you some
        special blessings.
      </p>
    </div>
    <p>Would you like to leave some coins in one of the boxes?</p>
  </div>
  <a
    class="nes-btn"
    href="https://links.nhcarrigan.com/patreon"
    target="_blank"
    rel="noopener noreferrer"
    >Patreon</a
  >
  <a
    class="nes-btn"
    href="https://links.nhcarrigan.com/github"
    target="_blank"
    rel="noopener noreferrer"
    >GitHub</a
  >
  <a
    class="nes-btn"
    href="https://links.nhcarrigan.com/kofi"
    target="_blank"
    rel="noopener noreferrer"
    >Ko-Fi</a
  >
  <a
    class="nes-btn"
    href="https://links.nhcarrigan.com/paypal"
    target="_blank"
    rel="noopener noreferrer"
    >PayPal</a
  >
  <a class="nes-btn" routerLink="/plaza"
    >You're out of coins - maybe next time</a
  >
</div>
