<div class="text-content">
  <h1>My Sponsors!</h1>
  <p>These are the amazing people who have sponsored my work.</p>
  <p>
    Would you like to become a monthly sponsor?
    <a
      class="custom-btn"
      href="https://github.com/sponsors/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-github"></i> Sponsor on GitHub</a
    >
  </p>
  <p>
    I also gladly accept one-time donations!
    <a
      class="custom-btn"
      href="https://ko-fi.com/nhcarrigan"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fas fa-coffee"></i> Buy me a Coffee</a>
  </p>
  <h2>Platinum Sponsors! ($100/month)</h2>
  <p>
    None yet...
    <a
      href="https://github.com/sponsors/nhcarrigan/sponsorships?sponsor=nhcarrigan&tier_id=47504"
      target="_blank"
      rel="noreferrer noopener"
      >Be the first?</a
    >
  </p>
  <h2>Gold Sponsors! ($50/month)</h2>
  <p>
    None yet...
    <a
      href="https://github.com/sponsors/nhcarrigan/sponsorships?sponsor=nhcarrigan&tier_id=47503"
      target="_blank"
      rel="noreferrer noopener"
      >Be the first?</a
    >
  </p>
  <h2>Silver Sponsors! ($25/month)</h2>
  <p>
    None yet...
    <a
      href="https://github.com/sponsors/nhcarrigan/sponsorships?sponsor=nhcarrigan&tier_id=47502"
      target="_blank"
      rel="noreferrer noopener"
      >Be the first?</a
    >
  </p>
  <h2>Bronze Sponsors! ($10/month)</h2>
  <p>
    None yet...
    <a
      href="https://github.com/sponsors/nhcarrigan/sponsorships?sponsor=nhcarrigan&tier_id=47501"
      target="_blank"
      rel="noreferrer noopener"
      >Be the first?</a
    >
  </p>
</div>
